﻿
@{
    ViewData["Title"] = "captura_prospeto";
}

<div class="col-md-12" ng-controller="FuncionesController"  >
    <h2>Nuevo Prospecto</h2>
    <form enctype="multipart/form-data" name="form" id="form" class="css-form" ng-submit="GuardarInformacion()">
        <div class="row">
            <div class="form-group col-md-4">
                <label>* Nombre:</label>
                <input class="form-control" name="nombre" ng-model="Reg.nombre" required />
            </div>

            <div class="form-group col-md-4">
                <label>* Apellido Paterno:</label>
                <input class="form-control" name="aPaterno" ng-model="Reg.aPaterno" required />
            </div>

            <div class="form-group col-md-4">
                <label>Apellido Materno:</label>
                <input class="form-control" name="aMaterno" ng-model="Reg.aMaterno" />
            </div>
            <div class="form-group col-md-4">
                <label>* Calle:</label>
                <input class="form-control" name="calle" ng-model="Reg.calle" required />
            </div>

            <div class="form-group col-md-4">
                <label>* Numero:</label>
                <input class="form-control" name="numero" ng-model="Reg.numero" required />
            </div>

            <div class="form-group col-md-4">
                <label>* Colonia:</label>
                <input class="form-control" name="colonia" ng-model="Reg.colonia" required />
            </div>

            <div class="form-group col-md-4">
                <label>* CP:</label>
                <input class="form-control" name="codPostal" type="number" ng-model="Reg.codPostal" required />
            </div>

            <div class="form-group col-md-4">
                <label>* Telefono:</label>
                <input class="form-control" name="telefono" ng-model="Reg.telefono" required />
            </div>

            <div class="form-group col-md-4">
                <label>* RFC:</label>
                <input class="form-control" name="rfc" ng-model="Reg.rfc" required />
            </div>

            <h4 style="margin-top:1em;">Documentos adicionales <button type="button" class="btn btn-primary" ng-click="AgregarDocumento()">Agregar</button>
            </h4>

            <div class="container row">

                <div class="col-md-12 row" ng-repeat="(key, doc) in documentoLista track by $index">

                    <div class="col-md-4">
                        <label>* Nombre Documento</label>
                        <input class="form-control" name="Documentos[].Nombre" ng-model="documentoLista[$index].Nombre" required />
                    </div>

                    <div class="col-md-4">
                        <label>* Archivo</label>
                        <input class="form-control" type="file" name="Documentos[].Archivo{{$index}}" ng-model="documentoLista[$index].Archivo" required />
                    </div>

                    <div class="col-md-2" style="margin-top:1.5em;">
                        <button type="button" class="btn btn-danger" ng-click="EliminarDocumento($index)">Eliminar</button>
                    </div>

                </div>


            </div>

            <div class="col-md-12 text-center" style="margin-top:1em;">
                <div class="btn btn-danger" ng-click="SalirProspecto()">Salir</div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
           </div>
    </form>
</div>

