﻿
@{
    ViewData["Title"] = "listado_prospecto";
}

<div class="container-fluid" ng-controller="FuncionesController" ng-init="ListadoProspectos()">
    <div class="modal" tabindex="-1" id="informacionProspecto" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Informacion del Prospecto :{{infoProspecto.nombre}} {{infoProspecto.aPaterno}} {{infoProspecto.aMaterno}}  </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label>* Calle:</label>
                            <input class="form-control" ng-model="infoProspecto.calle" disabled />
                        </div>

                        <div class="form-group col-md-12">
                            <label>* Numero:</label>
                            <input class="form-control" ng-model="infoProspecto.numero" disabled />
                        </div>

                        <div class="form-group col-md-12">
                            <label>* Colonia:</label>
                            <input class="form-control" ng-model="infoProspecto.colonia" disabled />
                        </div>

                        <div class="form-group col-md-12">
                            <label>* CP:</label>
                            <input class="form-control" ng-model="infoProspecto.codPostal" disabled />
                        </div>

                        <div class="form-group col-md-12">
                            <label>* Telefono:</label>
                            <input class="form-control" ng-model="infoProspecto.telefono" disabled />
                        </div>

                        <div class="form-group col-md-12">
                            <label>* RFC:</label>
                            <input class="form-control" ng-model="infoProspecto.rfc" disabled />
                        </div>

                        <div class="form-group col-md-12" ng-show="infoProspecto.estatus == 'Rechazado'">
                            <label>Motivo del Rechazo:</label>
                            <input class="form-control" ng-model="infoProspecto.comentario" disabled />
                        </div>

                        <h4 style="margin-top:1em;">
                            Documentos adicionales
                        </h4>

                        <div class="container row">

                            <div class="col-md-12 row" ng-repeat="(key, doc) in DocumentosProspecto track by $index">

                                <div class="col-md-6">
                                    <label>Nombre Documento</label><br />
                                    <label>{{DocumentosProspecto[$index].nombre_archivo}}</label>
                                </div>
                                <div class="col-md-6">
                                    <label>Archivo</label><br />
                                    <a class="btn btn-primary" role="button" href="{{DocumentosProspecto[$index].archivo}}" target="_blank">Ver Archivo</a>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <h2>Listado de Prospectos</h2>

    <div class="row">

        <div class="col-md-4">
            <a class="btn btn-primary" asp-area="" asp-controller="Prospecto" asp-action="captura_prospeto">Captura de Prospecto</a>
        </div>
        <div class="col-md-12">

            <table class="table">
                <thead>
                    <tr>
                        <td>Nombre</td>
                        <td>Apellido Paterno</td>
                        <td>Apellido Materno</td>
                        <td>Estatus</td>
                        <td>Acciones</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="pros in prospectos">
                        <td>{{pros.informacionProspecto.nombre}}</td>
                        <td>{{pros.informacionProspecto.aPaterno}}</td>
                        <td>{{pros.informacionProspecto.aMaterno}}</td>
                        <td>{{pros.informacionProspecto.estatus}}</td>
                        <td><div class="btn btn-secondary" ng-click="InfoProspecto(pros.informacionProspecto,pros.documentosProsPecto)">Ver Datos</div></td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>

</div>

